---
pagination:
    data: collections.org
    size: 1
    alias: post
	addAllPagesToCollections: true
permalink: "{{ post.data.slug }}/"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ post.data.title }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <header>
      <h1>Org notes</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/posts">Posts</a></li>
        </ul>
      </nav>
    </header>

    <main>

      <h1>{{ post.data.title }}</h1>

      {{post.content | raw}}

      {% if post.data.backlinks.size > 0 %}
      <h3>Backlinks</h3>
      <ul>
        {% for backlink in post.data.backlinks %}
        <li><a href="{{backlink[1].slug}}">{{ backlink[1].title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}


      {% if post.data.tags.length > 0 %}
      <h3>Tags</h3>
      <ul>
        {% for tag in post.data.tags %}
        <li>{{tag}}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </main>

    <footer>
      <p>Org notes website.</p>
    </footer>

  </body>
</html>
